name: "Lufa Farms"
description: "Track your Lufa Farms deliveries in Home Assistant"
version: "0.1.2"
slug: "lufa_farms"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
options:
  email: ""
  password: ""
schema:
  email: str
  password: str

